<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant List</title>

  <!-- CSS settings -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          餐廳口袋名單
        </a>
      </div>
    </nav>
    <div class="banner"></div>
  </header>

  <!-- partial templates -->
  {{{body}}}

  <!-- JS settings -->
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="https://kit.fontawesome.com/fd45362cee.js" crossorigin="anonymous"></script>
</body>

</html>